*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 12px 24px;
    transition: all 0.6s ease-in-out;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add {
    background-color: #DECA48;
}

.btn-add:hover {
    background-color: #C7B540;
}

ul {
    /* list-style: none; */
    margin-bottom: 20px;
}

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed span {
    text-decoration: line-through;
}

.task-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 0.8em;
}

.btn-complete {
    background-color: #4CAF50;
}
.btn-complete:hover {
    background-color: #38763B;
}

.btn-delete {
    background-color: #f44336;
}
.btn-delete:hover {
    background-color: #AB1106;
}

.stats {
    border-top: 2px solid #eee;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}